env.py
series-lesson.ipynb
handout - statistical-testing.pdf
handout - working-with-probability-distributions-in-python.pdf
handout-types-of-stats.jpg
.ipynb_checkpoints/probability_distributions-checkpoint.ipynb